@import url("nav.css");
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
h1{
    text-align: center;
    width:100%;
}
.user{
    width: 100%;
    text-align: center;
    font-weight: 500;
	padding-block: 10px;
    color:var(--primary);
}





.userrow{
    margin: 10px auto;
    border-radius: 12px;
    border: 1px solid var(--secondary);
    display: flex;
    align-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #464f5980;
    max-width: 300px;
}
form{
    text-align: center;
}
.userrow button{
    width:calc(50% - 20px);
    min-width: 250px;
    margin: 5px auto;
}